//- layout.pug
doctype html
html
  head
    title Amrit dance Acedmy
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- <meta charset="UTF-8">
    //- <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    block scripts
    block style
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/logo.jpg", alt="logo")
          | MDA
        li #[a(href="/") Home]
        li #[a(href="/about") About]
        li #[a(href="/services") Services]
        li #[a(href="/classinfo") Class Info]
        li #[a(href="/contact") Contact us]
  block content
  footer#footer
    div.icon
      ul 
        li #[div(a="/about") About Dance]
        li #[a(href="/") Home]
        li #[a(href="/about") About]
        li #[a(href="/services") Services]
        li #[a(href="/classinfo") Class Info]
        li #[a(href="/contact") Contact us]
    div.icon
      ul
        li #[a(href="https://www.facebook.com/amritmilindanand.roy/") Facebook]
        li #[a(href="https://www.instagram.com/amrit21oct/?hl=en") Instagram]
        li #[a(href="https://telegram.org/") Telegram]
        li #[a(href="https://twitter.com/home?lang=en-in") Twitter]
        li #[a(href="https://www.linkedin.com/in/amrit-anand-496298169/") LinkedIn]
        li #[a(href="https://www.youtube.com/channel/UCsKPETWTe48ssVkxSVSObGg?view_as=subscriber") Youtube]
    div.icon       
      div.copyrightclaim
        <img src="https://www.liveabout.com/thmb/0Z0EzUp_OTHcuYRJuZS8LKiZ9qk=/800x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Entertainment2x1-6f6f9d4a2d52499799b44db06820e339.gif" alt="Flamingo and dice">
        | Contact details : 
        | +91 8877058044
        br
        br
        br
        | copyright © 2020 amritdanceacedmy.com All right reserved    
        