extends base.pug

block scripts
    script(src=('/static/index.js'))
    script(src=('/static/service.js'))
block style
    style
        include ../static/style.css
        include ../static/styleservices.css
        include ../static/phone.css
        //- <link rel="stylesheet" href="phone.css" media="screen and (max-width: 1432px)">
        //- <style type="text/css"></style>   
block content
    div.container 
        div.box.box1 
            div.box-img
                img(src="/static/hiphop.jpg", alt="HIP HOP")
            div.box-text    
                h1 Hip Hop / Street dance
                | If you want to be the next Beyoncé, (or maybe one of her back-up dancers) here's where 
                | you start. The extraordinary Lil'J will teach you an entire street dance routine in
                | just one class.  And then she'll show you how to adapt the timing to your favorite song.  It's awesome.
                
        div.box.box1 
            div.box-img
                img(src="/static/ballroom.jpg", alt="BALL ROOM")
            div.box-text    
                h1 Ballroom 
                | Love Dancing with The Stars?  Or Strictly Come Dancing?  If you dream of dancing in perfect harmony with your beloved, then here's 
                | your chance to be taught by Brian Fortuna, who appeared as a pro dancer on both DWTS and SCD.  Here, he'll teach you the waltz and foxtrot.
        div.box.box1 
            div.box-img
                img(src="/static/latin.jpg", alt="LATIN DANCE")
            div.box-text     
                h1 Latin 
                | Turn up the temperature a bit and grab a gorgeous partner by the hand.  Brian Fortuna, 
                | a master of his craft, will teach you an entire cha cha or swing/jive routine in just a few minutes.  Don't believe us?  Check it out...
        div.box.box1 
            div.box-img
                img(src="/static/salsa.jpg", alt="SALSA DANCE")
            div.box-text    
                h1 Salsa basics 
                | Salsa for complete beginners.  Salsa for complete and utter beginners.  Look, if you 
                | think you've got two left feet this is the class for you.  Absolutely everyone can pick up these super-simple steps, no matter how many left feet you have.
        div.box.box1 
            div.box-img
                img(src="/static/belly.jpg", alt="BELLY DANCE")
            div.box-text    
                h1 Belly dance 
                | Go on, admit it.  You've always fancied trying belly dancing, right?  Here's your chance.  Not only a whole guide on everything you 
                | ed to know, but the divine Helen Santa Maria has recorded a free video class just for amritdanceacedamy.com
        div.box.box1 
            div.box-img
                img(src="/static/ballet.jpg", alt="BALLET DANCE") 
            div.box-text    
                h1 Ballet for adults 
                | Have you ever wanted to be a ballet dancer?  Then here's a ballet for adult beginners class that's
                | just perfect for you.  Don't worry if you didn't learn ballet as a kid.  We can make a ballet dancer out of anybody. And our teacher used to teach the Royal Ballet.  Yes, you read that right.  Ballet teaching just doesn't get any better than this.
        div.box.box1 
            div.box-img
                img(src="/static/folk.jpg", alt="FOLK DANCE") 
            div.box-text      
                h1 Folk dance 
                | India is a land of varied cultures and traditions. Diversities in all spheres make the 
                | Indian culture quite unique. Indian folk and tribal dances are product of different socio-economic set up and traditions evolved over ages. In India, we have festivals and celebrations virtually every day, and dances are performed to express joy and festivity.
        div.box.box1 
            div.box-img
                img(src="/static/modern.jpg", alt="MODERN DANCE")
            div.box-text    
                h1 Modern dance workout 
                | Dance your way to weight loss with our Modern Dance Workout. Perfect for everyone who
                | can't make up their mind which dance they'd like to learn, this class features lots of different styles and you'll burn a load of calories at the same time. 
        div.box.box1 
            div.box-img
                img(src="/static/classical.jpg", alt="INDIAN CLASSICAL DANCE")
            div.box-text    
                h1 Indian classical dance  
                | Most of the classical dance forms originated in temples. Worshipping was the main aim. 
                | Although every dance form evolved from different regions, their roots are the same. The roots can be traced from the Sanskrit text – ‘Natya Shastra’. The first compilation of Natya Shastra is dated between 200BCE and 200CE.                             