extends base.pug

block scripts
    script(src=('/static/index.js'))
block style
    style
        include ../static/style.css
        include ../static/classinfo.css
        include ../static/phone.css 
block content
    div.container.cont 
        table.routine
            h1 For Junior
            tr
                th Sl no
                th Time
                th Name of dance
                th Dance teacher name
            tr   
                td 1
                td 5:00 AM to 6:30 AM
                td Salsa
                td Raaz sir
            tr   
                td 2
                td 6:00 AM to 7:30 AM
                td folk dance
                td Abhishek sir
            tr   
                td 3
                td 7:30 AM to 8:30 AM
                td Modern dance
                td Rajeev sir
            tr   
                td 4
                td 8:00 AM to 9:30 AM
                td Ball Room dance
                td sangita mam
            tr   
                td 5
                td 9:30 AM to 10:30 AM
                td Latin dance
                td Raaz sir
            tr   
                td 6
                td 2:00 PM to 3:30 PM
                td Ballet (for girls only)
                td Mausam mam
            tr   
                td 7
                td 3:30 PM to 4:30 PM
                td Folk Dance
                td Arti miss 
            tr   
                td 8
                td 4:30 PM to 6:30 PM
                td Indian Classical
                td Arti miss 
            tr   
                td 9
                td 6:30 PM to 7:30 PM
                td Hip hop
                td Raaz sir                
        table.routine.sie
            h1#colour For Senior
            tr
                th Sl no
                th Time
                th Name of dance
                th Dance teacher name
            tr   
                td 1
                td 5:00 AM to 6:30 AM
                td Salsa
                td Raaz sir
            tr   
                td 2
                td 6:00 AM to 7:30 AM
                td folk dance
                td Abhishek sir
            tr   
                td 3
                td 7:30 AM to 8:30 AM
                td Modern dance
                td Rajeev sir
            tr   
                td 4
                td 8:00 AM to 9:30 AM
                td Ball Room dance
                td sangita mam
            tr   
                td 5
                td 9:30 AM to 10:30 AM
                td Latin dance
                td Raaz sir
            tr   
                td 6
                td 2:00 PM to 3:30 PM
                td Ballet (for girls only)
                td Mausam mam
            tr   
                td 7
                td 3:30 PM to 4:30 PM
                td Folk Dance
                td Arti miss 
            tr   
                td 8
                td 4:30 PM to 6:30 PM
                td Indian Classical
                td Arti miss 
            tr   
                td 9
                td 6:30 PM to 7:30 PM
                td Hip hop
                td Raaz sir 
                        
